<%= form_for @new_comment do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :content, "Комментарий" %><br />
    <%= f.text_area :content %>
  </div>
  <%= fields_for @post do |pf| %>
    <%= pf.hidden_field :id, :value => @post.id %>
  <% end %>
  <div class="actions">
    <%= f.submit "Послать" %>
  </div>
<% end %>