<h1>Добавление записи</h1>
<%= form_for @post do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title, "Заголовок" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Текст" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :tags, "Теги" %><br />
    <%= f.text_field :tags, :value => "" %>
  </div>
  <div class="actions">
    <%= f.submit "Послать" %>
  </div>
<% end %>